.container {
  background: #fff;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  padding: 37px;
  width: 50%;
  margin-left: 20%;
}

.container.no-overflow{
  overflow: hidden;
}

.recipe {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
}

.recipe:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
